<%- include('./partials/header') %>
    <div>
        <div class="head mt-0">
            <h1>MongoDB Breads (Browse, Read, Edit, Add, Delete, Sort)</h1>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <%- include('./partials/footer') %>