.head {
  margin-top: 10px;
  background-color: #f2f2f2;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #dee2e6;
}

.foot {
  background-color: #f2f2f2;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
}

.line {
  border: 1px solid #dee2e6;
  border-radius: 7px;
}

.foot2 {
  display: flex;
  justify-content: space-between;
}

.page {
  display: flex;
  flex-direction: row;
}